.NameCap{
    width: 300px;
    float:left;
    overflow: hidden;
}
.NameCapOverflow{
    width: 500px;
}
#NameCapPartition{
    float:left;
    border-right:2px solid gray;
    width: 5px;
    height: 20px;
    cursor: e-resize;
}