.TypeCap{
    width: 300px;
    float:left;
    overflow: hidden;
}
.TypeCapOverflow{
    width: 500px;
}
#TypeCapPartition{
    float:left;
    border-right:2px solid gray;
    width: 5px;
    height: 20px;
    cursor: e-resize;
}
