.SizeCap{
    width: 300px;
    float:left;
    overflow: hidden;
}
.SizeCapOverflow{
    width: 500px;
}

#SizeCapPartition{
    float:left;
    width: 1px;
    height: 20px;
    background: gray;
}
