.TreeMenu_ul, .TreeMenu_ul ul, .TreeMenu_ul li {
    margin: 0; padding: 0; line-height: 1.2; list-style: none;
}
.TreeMenu_ul ul {margin: 0 0 0 0px; /* отступ вертикальной линии */}
.TreeMenu_ul > li:not(:only-child), .Tree_Menu_ul li li {
    position: relative;
    padding: 3px 0 0 20px; /* отступ текста */
}
.TreeMenu_ul li {
    white-space: nowrap;
}
#TreeMenu_separator{
    float: left;
    border-left: 1px solid grey;
    height: 150px;
    width: 5px;
}
#TreeMenu_blok{
    user-select: none;
    float: left;
    /*!!!изменяет высоту TreeMenu*/
    height: 150px;
    /*!!!изменяет ширину TreeMenu*/
    width: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.TreeMenu_li_folder{
    position: relative;
    bottom: -5px;
}
.TreeMenu_li_blok{
    width: 150px;
    height: 25px;
    border: 1px solid white ;
}
.TreeMenu_li_blok:hover {
    padding: 0px;
    border: 1px  solid #b8d6fb;
    background: linear-gradient(to top ,#edf4fd ,#f9fbfd ); /* Цвет фона под ссылкой */
}