.DataCap{
    width: 300px;
    float:left;
    overflow: hidden;
}
.DataCapOverflow{
    width: 500px;
}
#DataCapPartition{
    float:left;
    border-right:2px solid gray;
    width: 5px;
    height: 20px;
    cursor: e-resize;
}
