/*#overflow{*/
/*  overflow: auto;*/
/*}*/
/*#TableFiles {*/
/*  !*width: 1250px;*!*/
/*  !*height: 150px; !* Высота блока *!*!*/
/*  !*padding: 5px; !* Поля вокруг текста *!*!*/
/*  !*border: solid 1px black; !* Параметры рамки *!*!*/
/*}*/
/*#NameParent{*/
/*  !*float:left;*!*/
/*  !*border: 1px solid black;*!*/
/*  !*width: 150px;*!*/
/*}*/
/*#DataParent{*/
/*  !*width: 300px;*!*/
/*  !*float:left;*!*/
/*  !*border: 1px solid black;*!*/

/*}*/
/*#TypeParent{*/
/*  width: 400px;*/
/*  float:left;*/
/*  border: 1px solid black;*/

/*}*/
/*#SizeParent{*/
/*  width: 300px;*/
/*  float:left;*/
/*  border: 1px solid black;*/
/*}*/

.NameBlok{
  overflow: hidden;

}
.NameOverflow{
  width: 500px;
}
.NameBlok img{

  float:left;
  width: 20px;
  height: 20px;
}

body {

}
.Line{
  width: 1200px;
  height: 25px;
  border: 5px;
  background: chartreuse;
}

.NameBlok{
  width: 300px;
  float:left;

}
.DataBlok{
  width: 300px;
  float:left;

}
.TypeBlok{
  width: 300px;
  float:left;

}
.SizeBlok{
  width: 300px;
  float:left;

}

#Cap{
  width: 1200px;
  height: 25px;
  border: 5px;
  background: gray;
}

.NameCap{
  width: 300px;
  float:left;
}

.DataCap{
  width: 300px;
  float:left;
}

.TypeCap{
  width: 300px;
  float:left;
}

.SizeCap{
  width: 300px;
  float:left;
}
